@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
button{
    cursor: pointer
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
.header{
    margin: 0px auto; 
}
.header__banner{
    position: relative;
}
.header__banner img{
    width: 100%;
}
.header__content{
    position: absolute;
    width: 50%;
    top: 20%;
    left: calc(50% - 25%);
}
.btn{
    background-color: black;
    width: auto;
    margin: 0px auto;
    padding: 0px 25px;
    font-size: 1.5rem;
    color: White;
    text-align: center;
    line-height: 52px;
    border: 0px;
    border-radius: 6px;
}

/*Background Modifier*/
.btn__primary--modifier{
    background-color: orange;
}
.btn__secondary--modifier{
    background-color: green;
}
.btn__danger--modifier{
    background-color: red;
}
.btn__white--modifier{
    background-color: white;
}
.btn__black--modifier{
    background-color: black;
}

/*Color Modifier*/
.color__white--modifier{
    color: white;
    font-style: normal;
}
.color__yellow--modifier{
    color: yellow;
    font-style: normal;
}